@tailwind base;
@tailwind components;
@tailwind utilities;

/* ID selectors */

#login_spotify_logo {
  display: inline;
  width: 28px;
  margin-top: -4px;
}

/* Class selectors */

.bg-spotify {
  background-color: rgb(30 215 96);
}
