/* ID selectors */
#login,
#loggedin {
  display: none;
}

#login_error {
  display: none;
}

#login_spotify_logo {
  display: inline;
  width: 28px;
  margin-top: -4px;
}

#progressBar {
  width: 100%;
}

#progressBar div {
  height: 100%;
  text-align: right;
  padding: 0 0;
  line-height: 40px;
  /* same as #progressBar height if we want text middle aligned */
  width: 100%;
  box-sizing: border-box;
}

/* Class selectors */
.bg-spotify {
  background-color: rgb(30 215 96);
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 500px;
}

.track-choice {
  width: 50%;
  height: 50%;
  float: left;
}

.track-choice-button {
  width: 90%;
  height: 90%;
}

.fa-volume-up, .fa-volume-mute {
  line-height: 42px !important;
}
